html
    head
        title #{title}
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="icon" type="image/png" href="../img/favicon-32x32.png")
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/main.css')
    body
        include menu
        block content
        include footer
        script(src="../js/bootstrap-jquery.js")
        script(src="../js/popper.js")
        script(src="../js/bootstrap.js")
        script(src="../js/bundle.js")  

            
